<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{%block title %}{% endblock %}</title>

</head>
    <header class="header">
        <div class="container">
            <h1>Notre Collection</h1>
            <nav>
                <a href="#">Accueil</a>
                <a href="#">Vêtements</a>
                <a href="#">Contact</a>
            </nav>
        </div>
    </header>
    <body>
            {% block content %} {% endblock %}
        {%if user.is_authenticated %}
      <div>
        {{user.get_username}}
        <img
          class="rounded-circle account-img"
          src="{{ user.profile.get_image}}"
        />
        <a href="{% url 'compte:index' %}" class="navbar-item">accounts</a>

        <form action="{%url 'compte:logout'%}" id="logout" method="POST">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      </div>
      {%endif%}
        {% block content %} {% endblock %}
            <footer style="position: absolute; bottom: 0; width: 100%">
                <hr />
                <p>ESEO - Campus Paris &copy; 2024</p>
            </footer>
        </div>
    </body>
</html>