<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href={% static 'application/style.css' %} />
    <!-- {% comment %}  <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.min.css'%}"/> {% endcomment %} -->
    <script src="{% static 'bootstrap5/js/bootstrap.min.js' %}"></script>
</head>
<header>
    <header class="header">
        <div class="logo">
            <h2>logo</h2>    
        </div>
        {% if not user.is_authenticated %}
    {% if page_title == "Login" %}
        <a href="{% url 'compte:register' %}" class="create-account-btn">Créer son compte</a>
    {% else %}
        <h1>{{ page_title }}</h1>
    {% endif %}
        {% else  %}
        <div class="container">
            <nav>
                <a href="{%url 'application:home' %}">Accueil</a>
                <a href="{%url 'application:viewVetements' %}">Vêtements</a>
                <a href="{%url 'application:viewPanier' %}">Panier</a>
                <a href="#">Contact</a>
                <a href="{%url 'application:viewHistorique' %}">Historique</a>
    
            </nav>
        </div>
        <div class="admin-panel">
            <div class="profile-info">
                <span>{{ user.username }}</span>
                <div class="user-icon">👤</div>
                
            </div>
            <div class="button-profile">
                <button onclick="location.href='{% url 'compte:index' %}'" class="info">Information</button>
                <form action="{% url 'compte:logout' %}" id="logout" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="logout">Déconnexion</button>
                </form>
            </div>
        </div>
        {% endif %}

        </header>
        
</header>
<body>
    {% block content %} {% endblock content %}
    
    <footer class="footer">
        <div class="footer-content">
            <p class="left">ESEO - Campus Paris &copy; 2024</p>
            <p class="right">Contact Histoire</p>
        </div>
    </footer>
</body>
</html>
