{% extends 'layout.html' %}

{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'application/style.css' %}">
{% endblock %}
{% block content %}
    <!-- This template represents the login page of the website. -->
    <header class="header">
        <h1>Login</h1>
        <a href="{% url 'compte:register' %}" class="create-account-btn">Créer son compte</a>
    </header>
    <main class="main">
        <div class="login-container">
            <div class="user-icon">👤</div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="login-form">
                    <input type="text" name="username" placeholder="username" class="login-form" required>
                </div>
                <div class="login-form">
                    <input type="password" name="password" placeholder="password" class="login-form" required>
                </div>

                <div class="login-form">
                    <button type="submit">Se connecter</button>
                </div>

            </form>
        </div>
    </main>
{% endblock %}