{% extends 'layout.html' %}

{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'application/style.css' %}">
{% endblock %}
{% block content %}
    <main class="main">
        <div class="login-container">
            <div class="user-icon">👤</div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="login-form">
                    <input type="text" name="username" placeholder="username" class="login-form" required>
                </div>
                <div class="login-form">
                    <input type="password" name="password" placeholder="password" class="login-form" required>
                </div>
                <div class="login-form">
                    <button type="submit">Se connecter</button>
                </div>
                <br>
            </form>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </main>
{% endblock %}
