{% extends 'layout.html' %}

{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'application/style.css' %}">
{% endblock %}

{% block content %}
<div class="content-section">
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">{{ account.username }}</h2>
            <p class="text-secondary">{{ account.email }}</p>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Informations du profil</legend>
            {{ u_form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Mettre à jour</button>
        </div>
    </form>
    <a href="{% url 'compte:deleteProfile' user.username %}">
            <button>Supprimer</button>
        </a>
</div>
{% endblock content %}
