{% extends 'layout.html' %}
{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'application/style.css' %}">
{% endblock %}
{% block content %}
    <div class="entre-center ">
        <div class="main-register">
            <div class = "login-container" >
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="login-form">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="login-form" required>
                    </div>
                    <div class="login-form">
                        <label for="email" >Email</label>
                        <input type="email" name="email" class="login-form" required>
                    </div>
                    <div class="login-form">
                        <label for="password1">Password</label>
                        <input type="password" name="password1" class="login-form" required>
                    </div>
                    <div class="login-form">
                        <label for="password2">Confirm Password</label>
                        <input type="password" name="password2" class="login-form" required>
                    </div>
                    <div class="login-form">
                        <button type="submit">S'enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{%endblock%}