
.header {
    left: 0;
    top: 0;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B26636;
}

.logo {
    height: 100%; /* La hauteur du logo s'adapte à celle du header */
}

.logo img {
    max-height: 100%; /* L'image sera redimensionnée pour s'adapter à la hauteur du logo */
    height: auto;
    width: auto; /* Maintient le ratio d'aspect de l'image */
}

.nav {
    display: flex;
    align-items: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #CF783C;
}
.nav a, .admin-panel a, .admin-panel button {
    margin: 0 10px; /* Espace entre les éléments de navigation */
}

.header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

.header h1 {
  margin: 0;
}
.create-account-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-register {
  flex: 1;
  display: flex;
  justify-content: left;
}

.login-container, .register-container {
  width: 100%;
  text-align: center;
  background-color: #CF783C;
  padding: 50px;
  padding-left: 40%;
  padding-right: 40%;
  border-radius: 10px;
}

.user-icon {
  font-size: 50px;
  margin-bottom: 20px;
}

.login-form {
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
}

.login-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-form button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.login-form button:hover {
  background-color: #0056b3;
}

.footer {
  bottom: 0;
  height: 8vh;
  width: 100%;
  background-color: #CF783C;
  padding: 10px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}
.productbis {
  background: #ffe69c;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.productbis img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
.productbis h2, .productbis p {
  margin: 0;
  padding: 10px 0;
}

.productbis .prix {
  font-size: 16px;
  color: #0779e4;
  font-weight: bold;
}
.product {
  background: #ffe69c;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.product img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.product h2, .product p {
  margin: 0;
  padding: 10px 0;
}

.product .prix {
  font-size: 16px;
  color: #0779e4;
  font-weight: bold;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product:hover h2, .product:hover p, .product:hover i {
  color: #007BFF;
}

.profile-container {
  padding: 20px;
  display: flex;
}

.profile-info {
  order: 2;
}

.admin-panel {
  background-color: #CF783C;
  text-align: center;
  border-radius: 5px;
  color: black;
}

.admin-panel button {
  margin: 0 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-panel .logout {
  background-color: #f44336;
  color: white;
}

.admin-panel .info {
  background-color: #4CAF50;
  color: white;
}

.button-profile {
  display: flex;
  justify-content: space-between;
  order: 1;
}

button {
  margin: 10px 30%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.entre {
  display: flex;
  min-height: 69vh;
  width: 100%;
}

.entre-left {
  flex: 1;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

.entre-right {
  width: 60%;
  padding: 0 10%;
  box-sizing: border-box; /* Inclure le padding dans la largeur totale */
}

.entre-center {
  display: flex;
  flex: 1;
  flex-direction: column; /* Aligner les éléments en colonne */
  margin-left: 20vh;
  margin-right: 20vh;
  justify-content: center; /* Centrer verticalement */
  align-items: center; /* Centrer horizontalement */
}

.entre-left img {
  min-height: 80vh;
}