{% extends "layout.html" %}

{% block title %} Liste des Vêtements {% endblock %}
{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'application/style.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Liste des Vêtements</h2>
        <div class="products">
            {% for vetement in vetements %}
                {% if vetement.qnte > 0 %}
                    <div class="product">
                    <a href="{% url 'application:viewZoom' vetement.id_V %}">
                            <img src="{% static 'assets/' %}{{ vetement.nom }}.png" alt="{{ vetement.nom }}">
                         {% if vetement.image %}
                            <img src="{{ vetement.image.url }}" alt="{{ vetement.nom }}">
                        {% else %}
                            <img src="{% static 'assets/no_image.jpeg' %}" alt="No image available">
                        {% endif %}
                            <h2>{{ vetement.nom }}</h2>
                            <p>{{ vetement.description }}</p>
                            <p class="prix">{{ vetement.prix }} €</p>
                    </a>
                    {% if user.is_superuser %}
                       <a href="{%url 'application:modifierProduct' vetement.id_V %}">
                           <button>édité</button></a>
                        <a href="{%url 'application:deleteProduct' vetement.id_V %}">
                           <button>Supprimer</button></a>
                    {% endif %}

                    </div>
                {% else %}
                    <div class="product">
                        {% if vetement.image %}
                            <img src="{{ vetement.image.url }}" alt="{{ vetement.nom }}">
                        {% else %}
                            <img src="{% static 'assets/no_image.jpeg' %}" alt="No image available">
                        {% endif %}
                        <h2>{{ vetement.nom }}</h2>
                        <p>Ce produit est en rupture de stock.</p>
                        {% if user.is_superuser %}
                             <a href="{%url 'application:modifierProduct' vetement.id_V %}">
                           <button>édité</button></a>
                            <a href="{%url 'application:deleteProduct' vetement.id_V %}">
                           <button>Supprimer</button></a>

                        {% endif %}
                    </div>
                {% endif %}

            {% endfor %}
        {% if user.is_superuser %}
            <div class="product">
                <a href="{%url 'application:createProduct' %}" class="add-product">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}