{% extends "layout.html" %}

{% block title %}Liste des Vêtements{% endblock %}
{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'application/style.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <h2>Liste des Vêtements</h2>
    <div class="products">
        {% for vetement in vetements %}
            <div class="product" data-url="{% url 'application:viewZoom' vetement.id_V %}">
    {% if vetement.image %}
        <img src="{{ vetement.image.url }}" alt="{{ vetement.nom }}">
    {% else %}
        <img src="{% static 'assets/no_image.png' %}" alt="No image available">
    {% endif %}
    <h2>{{ vetement.nom }}</h2>
    <p>{{ vetement.description }}</p>
    <p class="prix">{{ vetement.prix }} €</p>

    {% if user.is_superuser %}
        <a href="{% url 'application:modifierProduct' vetement.id_V %}">
            <button>Éditer</button>
        </a>
        <a href="{% url 'application:deleteProduct' vetement.id_V %}">
            <button>Supprimer</button>
        </a>
    {% endif %}
    {% if vetement.qnte == 0 %}
        <p>Ce produit est en rupture de stock.</p>
    {% endif %}
</div>


        {% endfor %}
        {% if user.is_superuser %}
            <div class="product">
                <a href="{% url 'application:createProduct' %}" class="add-product">
                    <i class="fa fa-plus"></i> <h2>Ajouter un nouveau produit</h2>
                </a>
            </div>
        {% endif %}
    </div>
</div>
    <script>
        document.querySelectorAll('.product').forEach(product => {
            product.addEventListener('click', function() {
                window.location.href = this.getAttribute('data-url');
            });
        });
    </script>
{% endblock %}
